.container {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) { 
        flex-direction: row;
    }
}

.form, .chart{
    padding: 10px;
}

.form{
    flex-grow: 1;

    @media (min-width: 768px) { 
        flex-grow: 1;
    }    
} 

.chart{
    flex-grow: 1;

    @media (min-width: 768px) { 
        flex-grow: 1;
    }        
}

.menu{
    width: 100;
    text-align: right;
    padding: 20px;
    background-color: black;
}